<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewer</title>
</head>
<body>
    <h2>Users:</h2>
    <sub>please find a list of users below, or search for a particular subject</sub>

    <form action="/view_users/">
        <table>
            <tr>  {{ user.name }}  </tr>
            <tr>  {{ user.first_name  }} </tr>
            <tr>  {{ user.last_name }}  </tr>
            <tr>  {{ user.email }}  </tr>
        </table>

    </form>
    
</body>
</html>