<!DOCTYPE html>
<html lang="en">
<head class="party">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css' ) }}">
    <title>Viewer</title>
</head>
<body>
    <div class="center">
        <h2>Users:</h2>
        <sub>please find a list of users below, or search for a particular subject</sub>
    </div> 

    {% for user in all_users %}
        <div class="form">

            <p>  {{ user.first_name  }} </p>
            <p>  {{ user.last_name }}  </p>
            <p>  {{ user.email }}  </p>
        </div>
    {% endfor %}
    
    
</body>
</html>