<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
</head>
<body>
    <h2>Please Enter your info below</h2>
    <sub>your details are required to proceed, enter them or a field agent will enter them for you. Thank you citizen!</sub>

    <form action="/submit_profile/">
        <label for="first_name">First Name: </label>
        <input type="text" name="first_name" id="first_name">

        <label for="last_name">Last Name: </label>
        <input type="text" name="last_name" id="last_name">

        <label for="email">Email: </label>
        <input type="text" name="email" id="email">


    </form>

</body>
</html>