*{
    margin: 0;
    padding: 0;
}

img{
    height: 50px;
    width: 100px;
}

/* navigation bar */
.nav {
    display: flex;
    justify-content: space-between;


}

.nav-title {
    justify-content: center;


}


.nav-links {
    display: flex;
    justify-content: end;
    gap: 10px;
    align-items: end;

}


.btn {
    box-shadow: 3px 3px black;

}

li {
    list-style: none;
}

/* css for the body of the page */


.main {
    background-color: bisque;

}

.grid-container {
    background-color: slategray;
    display: flex;
    width: 500px;
    margin: 10px;

}

.content-Left,
.content-Right {
    display: flex;
    flex-direction: column;
    background-color: teal;
}


.panelBar{
    background-color: grey;
}


.content-Left {
    flex: 2;
    background-color: teal;
}

.blau {
    background-color: aqua;
    display: flex;
}

.top{
    border: 3px;
    margin-bottom: 15px;
}

/* Content for the Right Column*/

.content-Right {
    flex: 1;
    background-color: blueviolet;


}

.friends{
    display: flex;
    justify-content: space-between;
    
}


.accept{
    display: flex;
    background-color: aliceblue;
    justify-content: space-between;
    
}

.options{
    display: flex;
    border: 3px solid;
    justify-content: center;
}