<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Home</title>
</head>
<body>
    <h1>Survey Home Page</h1>
    <p>Below you will find the results of the dojo survey. (if empty then you may be the first entry!)</p>

    <!-- making the form container -->
    <div class="container">
        <!-- contents for the top -->
        <div class="contents">
            <form action="/home" method = 'POST'>
                <label for="first_name">First Name: </label>
                <input type="text" name = "first_name">
                <label for="last_name">Last Name: </label>
                <input type="text" name = "last_name">
                <!-- email address -->
                <label for="name">Email: </label>
                <input type="text" name = "email">
                <!-- label and dropdown for dojo location -->
                <label for="location">Dojo Location: </label>
                <select name="location" id="Location">
                    <option value="online">Online</option>
                    <option value="sanfran">San Francisco</option>
                    <option value="jose">San Jose</option>
                </select>
                <!-- options for programming languages -->
                <label for="favorite_language">Favorite Language: </label>
                <select name="favorite_language" id="Favorite Language">
                    <option value="python">Python</option>
                    <option value="csharp">C #</option>
                    <option value="java">Java</option>
                    <option value="kobal">kobal</option>
                    <option value="!python">!python</option>
                </select>
                <!-- optional comment section -->
                <label for="comment">Comments (optional)</label>
                <input type="textarea" name = "comment">
                <input type="submit" value="Submit">
            </form>
            <!-- TODO connect to main.py for redirect and submission -->


        </div>
    </div>

    
</body>
</html>