<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{url_for ('static', filename = 'styles.css' ) }} ">
    <title>Dojo Survey</title>
</head>

<body>
    <div class="form">

        <form action="/process/" method = 'post'>
            <div class="boop">
                <tr>
                    <th>Name</th>
                    <input type="text">
                    <th>Location</th>
                    <select name="" id="">
                        <option value="">Online</option>
                        <option value="">D.C.</option>
                        <option value="">San Diego</option>
                        <option value="">L.A.</option>
                        <option value="">Not Listed</option>
                    </select>
                    <th>Favorite Language</th>
                    <select name="" id="">
                        <option value="">Python</option>
                        <option value="">!Flask</option>
                        <option value="">Kobal</option>
                        <option value="">C#</option>
                        <option value="">Anything Else</option>
                    </select>
                </tr>
            </div>

            <div class="boop">
                <label for="">Comments</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>

            <!-- submit button for survey form -->
            <div class="entry">
                <button type="submit">Submit Info</button>
            </div>



        </form>
    </div>

</body>

</html>