<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{url_for ('static', filename = 'styles.css' ) }} ">
    <title>Dojo Survey</title>
</head>

<body>
    <div class="form">

        <form action="/process/" method = 'post'>
            <div class="boop">
                <tr>
                    <label for="first_name">First Name : </label>
                    <input type="text" name="first_name">
                    <label for="last_name">Last Name : </label>
                    <input type="text" name="last_name">
                    <label for="age">Age : </label>
                    <input type="text">

                    <label>Location</label>
                    <select name="Location" id="Location">
                        <option value="Online">Online</option>
                        <option value="D.C.">D.C.</option>
                        <option value="San Diego">San Diego</option>
                        <option value="L.A.">L.A.</option>
                        <option value="Not Listed">Not Listed</option>
                    </select>
                    <label>Favorite Language</label>
                    <select name="Favorite_Language" id="Favorite_Language">
                        <option value="Python">Python</option>
                        <option value="!Flask">!Flask</option>
                        <option value="Kobal">Kobal</option>
                        <option value="C#">C#</option>
                        <option value="Anything Else">Anything Else</option>
                    </select>
                </tr>
            </div>

            <div class="boop">
                <label for="">Comments</label>
                <textarea name="Comments" id="" cols="30" rows="10"></textarea>
            </div>

            <!-- submit button for survey form -->
            <div class="entry">
                <button type="submit">Submit Info</button>
            </div>



        </form>
    </div>

</body>

</html>