<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Playground</title>
    
    <style>
        *{
            background-color: cadetblue;
            margin: 5px;
            padding: 5px;
        }
        
        .mini{
            background-color:pink;
        }
    </style>
</head>
<body>
    <div class="main">
    <p>Now we are displaying inputs via the URL:</p>


    

    
{# Here begins the playground box assignment to display boxes #}
<div class="boxes">
    <div> {{ color }} </div>
    
    {% for x in range(0, x): %}
    
{% endfor %}




</div>



    
</body>
</html>