<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Playground</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for ('static', filename =  'style.css') }} ">
</head>
<body>
    <div class="main">
    <p>Now we are displaying inputs via the URL:</p>



    <h3>My Flask Template</h3>
    <p>Phrase: {{ phrase }}</p>
    <p>Times: {{ number }}</p>
    
    {% for x in range(0,number): %}
        <p>{{ phrase }}</p>
    {% endfor %}
    
    {% if phrase == "hello" %}
      <p>The phrase says hello</p>
    {% endif %}
</div>


{# Here begins the playground box assignment to display boxes #}
<div class="boxes">



</div>



    
</body>
</html>