<!DOCTYPE html>

<head>
    <meta>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</meta>
</head>

<body>
    <h1>Page Title</h1>
    <p>
        This is my example text to verify html data is being handled.
    </p>
    <p> {{phrase}} </p>
    <p> {{times}} </p>

    {# setting up the logic for the phrase and times to display the phrase #}
    {% for x in range(0,times): %}
        <p> {{ phrase }} </p>
    {% if phrase == "hello" %}
        <p>The phrase says hello</p>
    {% endif %}

</body>

</html>