<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for( 'static' , filename = 'styles.css' ) }}">
    <title>Landing Page</title>
</head>
<body>
    <p>Please enter your email below:</p>

    <form action="/submit_email/", method="post">
        <label for="email">Email : </label>
        <input type="text" name="email" id="email">
        
        <button type="submit">Enter Email</button>


    </form>
</body>
</html>