

.main{
    background-color: tan;
    
}

/*TODO figure out why row heights are not even */
.row{
    display: flex;    
    margin: 3px;
    
}

.col{
    display: flex;
    flex: 1;
    background-color: teal;
    margin: 3px;
    
}

.col-2{
    display: flex;
    flex: 2;
    background-color: blue;
}
.col-3{
    display: flex;
    flex: 3;
}