.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    display: flex;
}
.top-nav {
    height: 150px;
    background-color: green;
    display: flex;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 15px 5px 0px 5px;
    display: flex;
    
    
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    margin: 5px;
    display: flex;
    
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: flex;
    
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
}
.row {
    /* TODO - what should go here? anything you want to define as a row class for styling, 
    but the challenge is to just us css so why? */
}

