/* navigation bar */
.nav {
    display: flex;
    justify-content: space-between;


}

.nav-title {
    justify-content: center;


}


.nav-links {
    display: flex;
    justify-content: end;
    gap: 10px;
    align-items: end;

}


.btn {
    box-shadow: 3px 3px black;

}

li {
    list-style: none;
}

/* css for the body of the page */

.main {
    background-color: bisque;

}

.grid-container {
    background-color: slategray;
    display: flex;




}

.content-Left,
.content-Right {
    display: flex;
    flex-direction: column;
    background-color: teal;



}

.content-Left {
    flex: 2;
    background-color: teal;
}

.blau {
    background-color: aqua;
}

.content-Right {
    flex: 1;
    background-color: blueviolet;


}

.friends{
    display: flex;
    width: 10px;
}

.accept{
    display: flex;
    justify-content: right;
}