<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clicky Counter Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css' ) }}">
</head>

<body>

    <h3> Counter </h3>
    <p>{{session['count']}}</p>

    <!-- making the add buttong to increase by 2 -->
<form action="/increment" value = "/increment">
    <div class="main">
        <button class="button2"> Add</button>
    </div>
</form>

    <!-- reset button that clears the session counter -->
    <form action="/destroy_session" value = "/destroy_session">
        <div class="main">
            
            <div class="button1">
                
                <button class=" button3" value="/destroy_session">  Reset </button>
            </div>
        </div>
    </form>


</body>

</html>