<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clicky Counter Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css' ) }}">
</head>

<body>

    <form action="/destroy_session" value = "/destroy_session">
        <div class="main">
            <h3> Counter </h3>
            <p>{{session['count']}}</p>
            <div class="button1">
                <button class="button2">Add</button>
                <button class=" button3" value="/destroy_session"> Reset </button>
            </div>
        </div>
    </form>


</body>

</html>