<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <sub>please log in to proceed</sub>

    <form action="/login/" , method='post'> 

        <label for="email">Email: </label>
        <input type="text" name = 'email'>

        <label for="password">Password: </label>
        <input type="password" name="password" id="password">

        <button type="submit">Login</button>
    </form>


    <!-- registration for new player -->

    <h1>Login and Registration</h1>
    <sub>please enter your information</sub>
    <form action="/register/"  method='post'>
        <label for="first_name">first Name : </label>
        <input type="text" name="first_name" id="first_name">

        <label for="last_name">Last Name : </label>
        <input type="text" name="last_name" id="last_name">

        <label for="email">Email : </label>
        <input type="text" name="email" id="email">

        <label for="password"> Password : </label>
        <input type="password" name="password" id="password">

        <button type="submit" id="submit_player">submit player</button>

    </form>

    <!-- <a href="/register/">Register Account</a> -->
</body>

</html>